@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

*{
    box-sizing: border-box !important;
    font-family: 'Source Sans Pro', sans-serif;
    color: white !important;
}
:root{
    --background-color: #D6D6D6;
    --color1:#202020;
    --color2: #333533;
}
html,body{
    scroll-behavior: smooth !important;
    width: 100%;
    height: 100%;
    }
    
html::-webkit-scrollbar{
    display:none;
    }
.login-form{
    background-color: var(--background-color);
}
.login-btn{
    background-color: var(--color1);
    width: 12rem;
}
.forgotPass:hover{
    color: red !important;
}
.navbar{
    background-color: var(--color2) !important;
}
.top-nav{
    display: none;
}
.brand{
    text-decoration: none;
}
.welcome{
    display: none;
}
section{
    margin-top: 4rem;
    width: 100%;
    color: black !important;
}
.active{
    color: var(--color2) !important;
    background-color: var(--background-color) !important;
}

.dash{
    background-color: var(--background-color) !important;
    border-radius: 15px;
    padding: 10px 10px
}
th{
    color: black !important;
}
@media screen and (min-width:992px) {
   .top-nav{
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
   }
   .brand{
    display: none;
   }
   .navbar{
    margin-top: 3.9rem;
    width: 200px;
    /* height: 100%; */
    min-height: 100vh;
    background-color: var(--color1) !important;
    justify-content: start;
    align-items: start;

   }
   .navbar-nav{
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center !important;
    width: 100%;
   }
   .darkmode,.settings,.logout{
    display: none !important;
   }
   .account-dropdown{
   position: static !important;
   padding-left: 3rem !important;
   }
   .account:hover{
    background-color: var(--color2) !important;
   }
   .welcome{
    display: block;
   }
   #content-wrapper{
    padding-left: 200px;
   }
   section{
    margin-top: 0;
    width: 100%;
    height: 100%;
   }
}
